<div class="flex flex-col items-center p-4 justify-items-stretch">
  <div class="pb-8">
    <button
      class="mx-4"
      mat-raised-button
      extended
      (click)="handleClickUpload()"
    >
      <mat-icon>backup</mat-icon>
      上传
    </button>
    <button
      class="mx-4"
      extended
      mat-raised-button
      (click)="handleClickConcat()"
    >
      <mat-icon>playlist_add_check</mat-icon>
      拼接
    </button>
    <button class="mx-4" extended mat-raised-button (click)="handleSortList()">
      <mat-icon>sort</mat-icon>
      排序
    </button>
    <button class="mx-4" extended mat-raised-button (click)="handleDeleteAll()">
      <mat-icon>delete_outline</mat-icon>
      清空
    </button>
    <input
      type="file"
      accept=".mp3"
      multiple
      hidden
      #fileInput
      (change)="handleInputChange()"
    />
    <audio controls #audio hidden>
      <source src="" #audioSource />
    </audio>
  </div>
  <div class="drop-list" cdkDropList (cdkDropListDropped)="handleDrop($event)">
    <div
      class="drop-box"
      *ngFor="let item of music_list; let i = index"
      cdkDrag
    >
      <div class="custom-placeholder" *cdkDragPlaceholder></div>

      <span>
        <span>第{{ i + 1 }}题</span>
        <span>.</span>
        <span>{{ item.file.name }}</span>
      </span>
      <button mat-mini-fab color="warn" (click)="handlePlayMusic(item.file)">
        <mat-icon> play_circle_outline </mat-icon>
      </button>
    </div>
  </div>
</div>
